.leftCol{
	border: 2.5px #404040 solid;
	border-radius:10px;
	background-color: #FFFFFF!important;
	position:static;
	left: 20px;
	display:block;
	float:left;
	width:20%;
	height:85%;
	left:20px;	
	overflow:auto;
}
body{
	width:100%;
	height:100%;
	background-image: url(Photos/wallpaper2.jpg);
}

h1,h2{
	margin-top:10px;
	margin-right: 5px;
	margin-bottom:10px;
	margin-left:0px;
}
h1{
	font-size:30px;
}
h2{
	font-size:20px;
}
p{
	display: block;
	box-sizing: inherit;
	font-size:14px;
}
TABLE{
	color: #757575;
	margin: -10px 0 0 12px;
	border-spacing: 30px 0;
}
.TopRight{
	border: 2.5px #404040 solid;
	border-radius:10px;
	background-color: #fff;
	display:inline-block;
	width:75%;
	position:static;
	float:right;
	left:10px;
}
.TopRight{
	text-decoration:none;
	padding: 8px 16px;
	letter-spacing:4px;
	font-family: "Segoe UI", Arial, sans-serif;
	color:#000;
	text-align:right;
}
a:link{
	text-decoration: none;
}
.bottom{
	border: 2.5px #404040 solid;
	border-radius:10px;
	background-color:#fff;
	display:inline-block;
	position:fixed;
	padding: 0.1em 16px;
	text-align:center;
	width:40%;
	bottom: 0;
	left:0;
	right:0;
	margin:auto;
}
#bodyParagraph{
	background-color:#fff;
	border-radius:10px;
	display:inline-block;
	width:75%;
	height:75%;
	border: 2.5px #404040 solid;
	margin-top:10px;
	position:static;
	float:right;
	overflow-y:auto;
	right:0;
	left:10px;

}
.wrapper{
	width:95%;
	height:95%;
	display:inline-block;
	position:absolute;
	margin: 0 auto;
	min-width:1400px;
	clear:both;
	overflow:auto;
}
p.indent{
	padding-left:2.5em;
}
.mainImage{
	width:auto;
	height:auto;
	max-width:MaxSize;
	max-height:MaxSize;
}
#clickable:hover{
	background-color:#d9d9d9;
	text-style: none;
	cursor:pointer;
}
.icons{
	width:1.8em;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
}
.icons2{
	width:1.6em;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	padding-left:1px;
}
