.leftCol{
	border: 2.5px #ffe0b3 solid;
	border-radius:10px;
	color: #000!important;
	background-color: #FFFFFF!important;
	position:static;
	left: 20px;
	display:block;
	float:left;
	width:auto;
	clear:both;
	height:auto;
	overflow-y:auto;
	left:20px;
	
}
body{
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	width:100%;

}

h1,h2{
	margin-top:10px;
	margin-right: 5px;
	margin-bottom:10px;
	margin-left:0px;
}
h1{
	font-size:30px;
}
h2{
	font-size:20px;
}
p{
	display: block;
	box-sizing: inherit;
	color: #757575;
}
TABLE{
	color: #757575;
	margin: -10px 0 0 12px;
	border-spacing: 30px 0;
}
.TopRight{
	border: 2.5px #ffe0b3 solid;
	border-radius:10px;
	background-color: #fff;
	display:inline-block;
	width:75%;
	position:static;
	float:right;
	left:10px;
}
.linksAway{
	text-decoration:none;
	padding: 8px 16px;
	letter-spacing:2px;
	font-family: "Segoe UI", Arial, sans-serif;
	color:#000;
	float:right;
}
a:hover{
	background-color:#ffffcc;
	text-style: none;
}
a:link{
	text-decoration: none;
}
.bottom{
	border: 2.5px #ffe0b3 solid;
	border-radius:10px;
	background-color:#fff;
	display:inline-block;
	position:fixed;
	padding: 0.1em 16px;
	text-align:center;
	width:40%;
	bottom: 0;
	left:0;
	right:0;
	margin:auto;
	
	
}
.bodyParagraph{
	background-color:#fff;
	border-radius:10px;
	display:inline-block;
	width:75%;
	height:75%;
	border: 2.5px #ffe0b3 solid;
	margin-top:10px;
	position:static;
	float:right;
	overflow-y:auto;
	right:0;
	left:10px;

}
.wrapper{
	width:90%;
	height:90%;
	display:inline-block;
	position:absolute;
	margin: 0 auto;
	min-width:1400px;
	clear:both;
	overflow:auto;
}
.container{
	
	
}
p.indent{
	padding-left:2.5em;
}


